/* Add CSS Styling */

.prgrph {
  background-color: #ff8888;
  font-family: "Verdana", "DejaVu Sans", sans-serif !important;
}
#one {
  color: #0000ff;
  font-size: 36px;
}
.prgrph.two {
  font-size: 24px;
}
#three {
  background-color: #88ff88;
  font-size: 24px;
  font-weight: 700;
}