/* Add CSS Styling */

.prgrph {
  background-color: #ff8888;
  font: "Verdana", "DejaVu Sans", sans-serif;
}
#one {
  color: #0000ff;
  font-size: 36px;
}
#two {
  font-size: 24px;
}
#three {
  background-color: #88ff88;
  font-size: 24px;
}
  