/* Add CSS Styling */
.black-button, .yellow-button {
  font-size: 28px;
  font-family: "Helvetica", "Times new Roman", sans-serif;
}
.black-button {
  background-color: black;
  color: white;
}
.yellow-button {
  background-color: yellow;
}